.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
    background-color: #fff;
}
.logo-div{
    width: 211px;
}
.logo{
    max-width: 100%;
}
.nav ul{
    display: flex;
    list-style: none;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    color: #2C2F24;
    gap: 8px;
}
.nav ul li{
    padding: 4px 16px;
}
.header-btn{
    width: 147px;
    border-radius: 118px;
    border: 1.5px solid #2C2F24;
    padding: 12px 24px;
    background-color: inherit;
    font-weight: 700;
    color: #182226;
}
