.top-menu{
    background-color: #474747;
    color: #F9F9F7;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 150px;
}
.left-col{
    display: flex;
    gap: 25px;
}
.tele-ico{
    display: flex;
    align-items: center;
    gap: 8px
}
.message-ico{
    display: flex;
    align-items: center;
    gap: 8px
}
.right-col{
    display: flex;
    gap: 4px;
}

.twitter{
    background-color: red;
    /* color: inherit; */
}
.card-section{
    padding: 120px 152px;
}
.browse{
    font-family: 'Playfair Display', sans-serif;
    font-weight: 500;
    font-size: 55px;
    line-height: 60.5px;
    text-align: center;
    color: #2C2F24;
    margin-bottom: 64px;
}
.card-box{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    

}